@import "tailwindcss";
@import "./base.css";
@import "./themes/amber.css";
@import "./themes/blue.css";
@import "./themes/cyan.css";
@import "./themes/green.css";
@import "./themes/neutral.css";
@import "./themes/orange.css";
@import "./themes/pink.css";
@import "./themes/purple.css";
@import "./themes/red.css";
@import "./themes/teal.css";
@import "./themes/yellow.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* :root {
	--shape-duration: 350ms;
} */

:host {
	--hem: 16px;
}

html {
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body {
	font-family: 'Inter Variable', sans-serif;
	@apply bg-color-surface-container text-color-on-surface text-base;
}

@theme inline {
	--ui-color-primary: var(--md-color-primary, var(--color-blue-700));
	--ui-color-on-primary: var(--md-color-on-primary, var(--color-white));
	--ui-color-primary-container: var(--md-color-primary-container, var(--color-blue-100));
	--ui-color-on-primary-container: var(--md-color-on-primary-container, var(--color-blue-900));

	--ui-color-secondary: var(--md-color-secondary, var(--color-slate-600));
	--ui-color-on-secondary: var(--md-color-on-secondary, var(--color-white));
	--ui-color-secondary-container: var(--md-color-secondary-container, var(--color-slate-100));
	--ui-color-on-secondary-container: var(--md-color-on-secondary-container, var(--color-slate-900));

	--ui-color-tertiary: var(--md-color-tertiary, var(--color-violet-600));
	--ui-color-on-tertiary: var(--md-color-on-tertiary, var(--color-white));
	--ui-color-tertiary-container: var(--md-color-tertiary-container, var(--color-violet-100));
	--ui-color-on-tertiary-container: var(--md-color-on-tertiary-container, var(--color-violet-900));

	--ui-color-error: var(--md-color-error, var(--color-red-700));
	--ui-color-on-error: var(--md-color-on-error, var(--color-white));
	--ui-color-error-container: var(--md-color-error-container, var(--color-red-100));
	--ui-color-on-error-container: var(--md-color-on-error-container, var(--color-red-900));

	--ui-color-background: var(--md-color-background, var(--color-neutral-50));
	--ui-color-on-background: var(--md-color-on-background, var(--color-neutral-900));

	--ui-color-surface-dim: var(--md-color-surface-dim, var(--color-neutral-200));
	--ui-color-surface: var(--md-color-surface, var(--color-neutral-50));
	--ui-color-surface-bright: var(--md-color-surface-bright, var(--color-white));
	--ui-color-on-surface: var(--md-color-on-surface, var(--color-neutral-900));
	--ui-color-surface-variant: var(--md-color-surface-variant, var(--color-slate-100));
	--ui-color-on-surface-variant: var(--md-color-on-surface-variant, var(--color-slate-700));

	--ui-color-surface-container-lowest: var(--md-color-surface-container-lowest, var(--color-white));
	--ui-color-surface-container-low: var(--md-color-surface-container-low, var(--color-neutral-100));
	--ui-color-surface-container: var(--md-color-surface-container, var(--color-neutral-200));
	--ui-color-surface-container-high: var(--md-color-surface-container-high, var(--color-neutral-300));
	--ui-color-surface-container-highest: var(--md-color-surface-container-highest, var(--color-neutral-400));

	--ui-color-outline: var(--md-color-outline, var(--color-neutral-500));
	--ui-color-outline-variant: var(--md-color-outline-variant, var(--color-neutral-300));

	--ui-color-shadow: var(--md-color-shadow, var(--color-black));
	--ui-color-scrim: var(--md-color-scrim, var(--color-black));

	--ui-color-inverse-primary: var(--md-color-inverse-primary, var(--color-blue-300));
	--ui-color-inverse-surface: var(--md-color-inverse-surface, var(--color-neutral-950));
	--ui-color-inverse-on-surface: var(--md-color-inverse-on-surface, var(--color-neutral-100));
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	[type="search"]::-webkit-search-cancel-button,
	[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
		appearance: none;
	}

	mark {
		@apply bg-color-tertiary-container text-color-on-tertiary-container rounded-xs
	}

	.reduced-motion {
		--shape-duration: 0s;
		--ease-expressive-spatial-fast: var(--ease-effects-fast);
	}
}

@utility bg-color-* {
	--alpha-bg: calc(--modifier(integer) * 1%);
	background-color: --alpha(--value(--ui-color-*) / var(--alpha-bg, 100%));
}

@utility text-color-* {
	--alpha-text: calc(--modifier(integer) * 1%);
	color: --alpha(--value(--ui-color-*) / var(--alpha-text, 100%));
}

@utility border-color-* {
	--alpha-border: calc(--modifier(integer) * 1%);
	border-color: --alpha(--value(--ui-color-*) / var(--alpha-border, 100%));
}

@utility border-b-color-* {
	--alpha-border: calc(--modifier(integer) * 1%);
	border-bottom-color: --alpha(--value(--ui-color-*) / var(--alpha-border, 100%));
}

@utility outline-color-* {
	--alpha-outline: calc(--modifier(integer) * 1%);
	outline-color: --alpha(--value(--ui-color-*) / var(--alpha-outline, 100%));
}

@utility fill-color-* {
	--alpha-fill: calc(--modifier(integer) * 1%);
	fill: --alpha(--value(--ui-color-*) / var(--alpha-fill, 100%));
}

@utility caret-color-* {
	--alpha-fill: calc(--modifier(integer) * 1%);
	caret-color: --alpha(--value(--ui-color-*) / var(--alpha-fill, 100%));
}

@utility outline-common {
	@apply outline-3 outline-offset-2 transition-[outline-offset];
}

@utility outline-menu {
	@apply outline-3 -outline-offset-3 transition-[outline-offset];
}

@utility scrollbar {
	scrollbar-color: var(--ui-color-outline-variant, var(--color-neutral-300)) transparent;
    scrollbar-width: thin;
	/* overscroll-behavior-y: contain; */

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-corner {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: --alpha(var(--ui-color-outline-variant) / 50%);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: --alpha(var(--ui-color-outline-variant) / 70%);
	}
}

@utility scrollbar-hidden {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		display: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}

@utility scrollbar-stable {
	scrollbar-gutter: stable;
}

@utility transition-switch-handle {
	transition:
		background-color 150ms var(--ease-effects-fast),
		width 150ms var(--ease-effects-fast),
		height 150ms var(--ease-effects-fast),
		margin 350ms var(--ease-expressive-spatial-fast);
}

@utility transition-shape-colors {
	transition:
		color 150ms var(--ease-effects-fast),
		background-color 150ms var(--ease-effects-fast),
		border-radius var(--shape-duration) var(--ease-expressive-spatial-fast);
}
