@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root, :host, html, body {
		font-family: 'Inter Variable', system-ui, sans-serif;
		font-weight: 400;
	}

	.light {
		color-scheme: light;
	}

	.dark {
		color-scheme: dark;
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	.scrollbar::-webkit-scrollbar-corner {
		display: none;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply rounded bg-gray-300 hover:bg-gray-400 dark:bg-gray-700 dark:hover:bg-gray-600;
	}
}
