/* Seed: #ECAA2E (amber) */

[data-theme-color="amber"] {
	--md-color-primary: #7b591c;
	--md-color-on-primary: #fff8f2;
	--md-color-primary-container: #ffd087;
	--md-color-on-primary-container: #644507;
	--md-color-secondary: #6f5c40;
	--md-color-on-secondary: #fff8f2;
	--md-color-secondary-container: #f9dfbb;
	--md-color-on-secondary-container: #614f34;
	--md-color-tertiary: #855337;
	--md-color-on-tertiary: #fff7f5;
	--md-color-tertiary-container: #fdba98;
	--md-color-on-tertiary-container: #63361d;
	--md-color-error: #a73b21;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fd795a;
	--md-color-on-error-container: #6e1400;
	--md-color-background: #fff8f3;
	--md-color-on-background: #3a3125;
	--md-color-surface: #fff8f3;
	--md-color-on-surface: #3a3125;
	--md-color-surface-dim: #e7d8c6;
	--md-color-surface-bright: #fff8f3;
	--md-color-surface-variant: #efe0ce;
	--md-color-on-surface-variant: #685d4f;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #fef2e4;
	--md-color-surface-container: #f9ecdd;
	--md-color-surface-container-high: #f4e6d6;
	--md-color-surface-container-highest: #efe0ce;
	--md-color-outline: #85796a;
	--md-color-outline-variant: #beb09f;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #ffd087;
	--md-color-inverse-surface: #120e08;
	--md-color-inverse-on-surface: #a49c92;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #5b3d00;
		--md-color-on-primary: #ffd38f;
		--md-color-primary-container: #936e2f;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #514026;
		--md-color-on-secondary: #efd6b3;
		--md-color-secondary-container: #867254;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #64371e;
		--md-color-on-tertiary: #ffd0b9;
		--md-color-tertiary-container: #9e684b;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #801f07;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #c44f34;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f3;
		--md-color-on-background: #2b2317;
		--md-color-surface: #fff8f3;
		--md-color-on-surface: #2b2317;
		--md-color-surface-dim: #e7d8c6;
		--md-color-surface-bright: #fff8f3;
		--md-color-surface-variant: #efe0ce;
		--md-color-on-surface-variant: #4b4134;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fef2e4;
		--md-color-surface-container: #f9ecdd;
		--md-color-surface-container-high: #f4e6d6;
		--md-color-surface-container-highest: #efe0ce;
		--md-color-outline: #685d4f;
		--md-color-outline-variant: #85796a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #ffd087;
		--md-color-inverse-surface: #120e08;
		--md-color-inverse-on-surface: #cdc3b9;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #332000;
		--md-color-on-primary: #ffd391;
		--md-color-primary-container: #6c4c0f;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #2f220a;
		--md-color-on-secondary: #f0d6b3;
		--md-color-secondary-container: #614f34;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #3e1904;
		--md-color-on-tertiary: #ffd0ba;
		--md-color-tertiary-container: #76462c;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #4c0a00;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #952e15;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f3;
		--md-color-on-background: #000000;
		--md-color-surface: #fff8f3;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #e7d8c6;
		--md-color-surface-bright: #fff8f3;
		--md-color-surface-variant: #efe0ce;
		--md-color-on-surface-variant: #2b2317;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fef2e4;
		--md-color-surface-container: #f9ecdd;
		--md-color-surface-container-high: #f4e6d6;
		--md-color-surface-container-highest: #efe0ce;
		--md-color-outline: #4b4134;
		--md-color-outline-variant: #5b5143;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #ffd087;
		--md-color-inverse-surface: #120e08;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #e6c188;
		--md-color-on-primary: #543c0f;
		--md-color-primary-container: #694e1f;
		--md-color-on-primary-container: #ffdeb0;
		--md-color-secondary: #dbc3a1;
		--md-color-on-secondary: #4e3e24;
		--md-color-secondary-container: #493920;
		--md-color-on-secondary-container: #d4bc9a;
		--md-color-tertiary: #ffcdb4;
		--md-color-on-tertiary: #6e3f25;
		--md-color-tertiary-container: #fdba98;
		--md-color-on-tertiary-container: #63361d;
		--md-color-error: #f97758;
		--md-color-on-error: #450900;
		--md-color-error-container: #85230a;
		--md-color-on-error-container: #ff9b82;
		--md-color-background: #120e08;
		--md-color-on-background: #f2e3d1;
		--md-color-surface: #120e08;
		--md-color-on-surface: #f2e3d1;
		--md-color-surface-dim: #120e08;
		--md-color-surface-bright: #332b1f;
		--md-color-surface-variant: #2c2519;
		--md-color-on-surface-variant: #b6a998;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #18130b;
		--md-color-surface-container: #1f1910;
		--md-color-surface-container-high: #251f15;
		--md-color-surface-container-highest: #2c2519;
		--md-color-outline: #7f7465;
		--md-color-outline-variant: #504639;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #775a2b;
		--md-color-inverse-surface: #fff8f3;
		--md-color-inverse-on-surface: #5b544c;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #e6c188;
			--md-color-on-primary: #493205;
			--md-color-primary-container: #8e6f3e;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #dbc3a1;
			--md-color-on-secondary: #43341b;
			--md-color-secondary-container: #867254;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #ffcdb4;
			--md-color-on-tertiary: #62361d;
			--md-color-tertiary-container: #fdba98;
			--md-color-on-tertiary-container: #572d14;
			--md-color-error: #ffa089;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #c44f34;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #120e08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #120e08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #120e08;
			--md-color-surface-bright: #332b1f;
			--md-color-surface-variant: #2c2519;
			--md-color-on-surface-variant: #c5b7a5;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #18130b;
			--md-color-surface-container: #1f1910;
			--md-color-surface-container-high: #251f15;
			--md-color-surface-container-highest: #2c2519;
			--md-color-outline: #9e9281;
			--md-color-outline-variant: #7f7465;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #6c5022;
			--md-color-inverse-surface: #fff8f3;
			--md-color-inverse-on-surface: #3d3730;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ffe1b7;
			--md-color-on-primary: #3d2800;
			--md-color-primary-container: #c19e68;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #fce2be;
			--md-color-on-secondary: #382a12;
			--md-color-secondary-container: #b7a080;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #ffdfd0;
			--md-color-on-tertiary: #48210a;
			--md-color-tertiary-container: #fdba98;
			--md-color-on-tertiary-container: #290c00;
			--md-color-error: #ffded7;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #ff7e5e;
			--md-color-on-error-container: #000000;
			--md-color-background: #120e08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #120e08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #120e08;
			--md-color-surface-bright: #332b1f;
			--md-color-surface-variant: #2c2519;
			--md-color-on-surface-variant: #f2e3d1;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #18130b;
			--md-color-surface-container: #1f1910;
			--md-color-surface-container-high: #251f15;
			--md-color-surface-container-highest: #2c2519;
			--md-color-outline: #c5b7a5;
			--md-color-outline-variant: #afa291;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #4b3407;
			--md-color-inverse-surface: #fff8f3;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
