/* Seed: #415F91 (blue) */

[data-theme-color="blue"] {
	--md-color-primary: #475f8a;
	--md-color-on-primary: #f8f8ff;
	--md-color-primary-container: #abc4f5;
	--md-color-on-primary-container: #243e67;
	--md-color-secondary: #565f72;
	--md-color-on-secondary: #f8f8ff;
	--md-color-secondary-container: #dae2f9;
	--md-color-on-secondary-container: #495264;
	--md-color-tertiary: #675882;
	--md-color-on-tertiary: #fef7ff;
	--md-color-tertiary-container: #dfccfd;
	--md-color-on-tertiary-container: #50426a;
	--md-color-error: #a83836;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fa746f;
	--md-color-on-error-container: #6e0a12;
	--md-color-background: #f9f9fe;
	--md-color-on-background: #2f323a;
	--md-color-surface: #f9f9fe;
	--md-color-on-surface: #2f323a;
	--md-color-surface-dim: #d7dae4;
	--md-color-surface-bright: #f9f9fe;
	--md-color-surface-variant: #e0e2ec;
	--md-color-on-surface-variant: #5c5f68;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #f3f3fa;
	--md-color-surface-container: #ecedf6;
	--md-color-surface-container-high: #e6e8f1;
	--md-color-surface-container-highest: #e0e2ec;
	--md-color-outline: #777a84;
	--md-color-outline-variant: #afb2bc;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #abc4f5;
	--md-color-inverse-surface: #0d0e12;
	--md-color-inverse-on-surface: #9c9ca2;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #29436c;
		--md-color-on-primary: #c9daff;
		--md-color-primary-container: #5c75a1;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #3a4354;
		--md-color-on-secondary: #d1daf0;
		--md-color-secondary-container: #6c7588;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #4a3c64;
		--md-color-on-tertiary: #e4d2ff;
		--md-color-tertiary-container: #7d6d98;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #811b1d;
		--md-color-on-error: #ffceca;
		--md-color-error-container: #c54d4a;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f9f9fe;
		--md-color-on-background: #20242b;
		--md-color-surface: #f9f9fe;
		--md-color-on-surface: #20242b;
		--md-color-surface-dim: #d7dae4;
		--md-color-surface-bright: #f9f9fe;
		--md-color-surface-variant: #e0e2ec;
		--md-color-on-surface-variant: #3f434b;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f3f3fa;
		--md-color-surface-container: #ecedf6;
		--md-color-surface-container-high: #e6e8f1;
		--md-color-surface-container-highest: #e0e2ec;
		--md-color-outline: #5c5f68;
		--md-color-outline-variant: #777a84;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #abc4f5;
		--md-color-inverse-surface: #0d0e12;
		--md-color-inverse-on-surface: #c4c4c9;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #03234b;
		--md-color-on-primary: #c9daff;
		--md-color-primary-container: #39527d;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #1b2434;
		--md-color-on-secondary: #d1daf0;
		--md-color-secondary-container: #495264;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #2a1d42;
		--md-color-on-tertiary: #e4d2ff;
		--md-color-tertiary-container: #5a4b74;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #510007;
		--md-color-on-error: #ffcfcb;
		--md-color-error-container: #972b2b;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f9f9fe;
		--md-color-on-background: #000000;
		--md-color-surface: #f9f9fe;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #d7dae4;
		--md-color-surface-bright: #f9f9fe;
		--md-color-surface-variant: #e0e2ec;
		--md-color-on-surface-variant: #20242b;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f3f3fa;
		--md-color-surface-container: #ecedf6;
		--md-color-surface-container-high: #e6e8f1;
		--md-color-surface-container-highest: #e0e2ec;
		--md-color-outline: #3f434b;
		--md-color-outline-variant: #4f525b;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #abc4f5;
		--md-color-inverse-surface: #0d0e12;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #b4c7ed;
		--md-color-on-primary: #2e4060;
		--md-color-primary-container: #415373;
		--md-color-on-primary-container: #d7e3ff;
		--md-color-secondary: #bec6dc;
		--md-color-on-secondary: #374052;
		--md-color-secondary-container: #333c4d;
		--md-color-on-secondary-container: #b6bfd5;
		--md-color-tertiary: #ebdcff;
		--md-color-on-tertiary: #594b73;
		--md-color-tertiary-container: #dfccfd;
		--md-color-on-tertiary-container: #50426a;
		--md-color-error: #fa746f;
		--md-color-on-error: #490006;
		--md-color-error-container: #871f21;
		--md-color-on-error-container: #ff9993;
		--md-color-background: #0d0e12;
		--md-color-on-background: #e3e5ef;
		--md-color-surface: #0d0e12;
		--md-color-on-surface: #e3e5ef;
		--md-color-surface-dim: #0d0e12;
		--md-color-surface-bright: #292c34;
		--md-color-surface-variant: #22262d;
		--md-color-on-surface-variant: #a8abb5;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #111318;
		--md-color-surface-container: #171a1f;
		--md-color-surface-container-high: #1d2026;
		--md-color-surface-container-highest: #22262d;
		--md-color-outline: #72757e;
		--md-color-outline-variant: #444850;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #4d5f81;
		--md-color-inverse-surface: #f9f9fe;
		--md-color-inverse-on-surface: #545559;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #b4c7ed;
			--md-color-on-primary: #243655;
			--md-color-primary-container: #637597;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #bec6dc;
			--md-color-on-secondary: #2d3647;
			--md-color-secondary-container: #6c7588;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #ebdcff;
			--md-color-on-tertiary: #4f4169;
			--md-color-tertiary-container: #dfccfd;
			--md-color-on-tertiary-container: #463860;
			--md-color-error: #ff9f99;
			--md-color-on-error: #60000a;
			--md-color-error-container: #c54d4a;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0d0e12;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0d0e12;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0d0e12;
			--md-color-surface-bright: #292c34;
			--md-color-surface-variant: #22262d;
			--md-color-on-surface-variant: #b6b8c2;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #111318;
			--md-color-surface-container: #171a1f;
			--md-color-surface-container-high: #1d2026;
			--md-color-surface-container-highest: #22262d;
			--md-color-outline: #90939d;
			--md-color-outline-variant: #72757e;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #435576;
			--md-color-inverse-surface: #f9f9fe;
			--md-color-inverse-on-surface: #37383c;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #dbe5ff;
			--md-color-on-primary: #192c4a;
			--md-color-primary-container: #92a4c9;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #dde5fc;
			--md-color-on-secondary: #232c3d;
			--md-color-secondary-container: #9ba4b8;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #eee0ff;
			--md-color-on-tertiary: #32254b;
			--md-color-tertiary-container: #dfccfd;
			--md-color-on-tertiary-container: #25183e;
			--md-color-error: #ffdedb;
			--md-color-on-error: #60000a;
			--md-color-error-container: #ff7c76;
			--md-color-on-error-container: #000000;
			--md-color-background: #0d0e12;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0d0e12;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0d0e12;
			--md-color-surface-bright: #292c34;
			--md-color-surface-variant: #22262d;
			--md-color-on-surface-variant: #e3e5ef;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #111318;
			--md-color-surface-container: #171a1f;
			--md-color-surface-container-high: #1d2026;
			--md-color-surface-container-highest: #22262d;
			--md-color-outline: #b6b8c2;
			--md-color-outline-variant: #a1a3ad;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #263857;
			--md-color-inverse-surface: #f9f9fe;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
