/* Seed: #006874 (cyan) */

[data-theme-color="cyan"] {
	--md-color-primary: #1c6873;
	--md-color-on-primary: #ecfcff;
	--md-color-primary-container: #a9eefa;
	--md-color-on-primary-container: #015b65;
	--md-color-secondary: #4b6368;
	--md-color-on-secondary: #ecfcff;
	--md-color-secondary-container: #cde7ec;
	--md-color-on-secondary-container: #3e565a;
	--md-color-tertiary: #426281;
	--md-color-on-tertiary: #f7f9ff;
	--md-color-tertiary-container: #badaff;
	--md-color-on-tertiary-container: #2d4d6c;
	--md-color-error: #a83836;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fa746f;
	--md-color-on-error-container: #6e0a12;
	--md-color-background: #f6fafb;
	--md-color-on-background: #2a3436;
	--md-color-surface: #f6fafb;
	--md-color-on-surface: #2a3436;
	--md-color-surface-dim: #d1dcde;
	--md-color-surface-bright: #f6fafb;
	--md-color-surface-variant: #dae4e6;
	--md-color-on-surface-variant: #576163;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #eef5f6;
	--md-color-surface-container: #e8eff1;
	--md-color-surface-container-high: #e1eaeb;
	--md-color-surface-container-highest: #dae4e6;
	--md-color-outline: #727d7f;
	--md-color-outline-variant: #a9b4b6;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #acf1fd;
	--md-color-inverse-surface: #0a0f10;
	--md-color-inverse-on-surface: #999e9f;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #004a53;
		--md-color-on-primary: #a1e5f1;
		--md-color-primary-container: #387e89;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #2f474b;
		--md-color-on-secondary: #c4dee3;
		--md-color-secondary-container: #60797d;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #254563;
		--md-color-on-tertiary: #bfddff;
		--md-color-tertiary-container: #587798;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #811b1d;
		--md-color-on-error: #ffceca;
		--md-color-error-container: #c54d4a;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f6fafb;
		--md-color-on-background: #1c2627;
		--md-color-surface: #f6fafb;
		--md-color-on-surface: #1c2627;
		--md-color-surface-dim: #d1dcde;
		--md-color-surface-bright: #f6fafb;
		--md-color-surface-variant: #dae4e6;
		--md-color-on-surface-variant: #3b4546;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #eef5f6;
		--md-color-surface-container: #e8eff1;
		--md-color-surface-container-high: #e1eaeb;
		--md-color-surface-container-highest: #dae4e6;
		--md-color-outline: #576163;
		--md-color-outline-variant: #727d7f;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #acf1fd;
		--md-color-inverse-surface: #0a0f10;
		--md-color-inverse-on-surface: #c1c5c6;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #00282e;
		--md-color-on-primary: #a1e5f1;
		--md-color-primary-container: #025b66;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #0e272b;
		--md-color-on-secondary: #c5dfe4;
		--md-color-secondary-container: #3e565a;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #002641;
		--md-color-on-tertiary: #c0ddff;
		--md-color-tertiary-container: #355573;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #510007;
		--md-color-on-error: #ffcfcb;
		--md-color-error-container: #972b2b;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f6fafb;
		--md-color-on-background: #000000;
		--md-color-surface: #f6fafb;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #d1dcde;
		--md-color-surface-bright: #f6fafb;
		--md-color-surface-variant: #dae4e6;
		--md-color-on-surface-variant: #1c2627;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #eef5f6;
		--md-color-surface-container: #e8eff1;
		--md-color-surface-container-high: #e1eaeb;
		--md-color-surface-container-highest: #dae4e6;
		--md-color-outline: #3b4546;
		--md-color-outline-variant: #4a5456;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #acf1fd;
		--md-color-inverse-surface: #0a0f10;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #9dcfd8;
		--md-color-on-primary: #0e474f;
		--md-color-primary-container: #265962;
		--md-color-on-primary-container: #b9ecf5;
		--md-color-secondary: #b1cbd0;
		--md-color-on-secondary: #2c4448;
		--md-color-secondary-container: #273f43;
		--md-color-on-secondary-container: #aac4c9;
		--md-color-tertiary: #d4e7ff;
		--md-color-on-tertiary: #365675;
		--md-color-tertiary-container: #badaff;
		--md-color-on-tertiary-container: #2d4d6c;
		--md-color-error: #fa746f;
		--md-color-on-error: #490006;
		--md-color-error-container: #871f21;
		--md-color-on-error-container: #ff9993;
		--md-color-background: #0a0f10;
		--md-color-on-background: #dde7e9;
		--md-color-surface: #0a0f10;
		--md-color-on-surface: #dde7e9;
		--md-color-surface-dim: #0a0f10;
		--md-color-surface-bright: #242e30;
		--md-color-surface-variant: #1e2729;
		--md-color-on-surface-variant: #a2adaf;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #0e1416;
		--md-color-surface-container: #131b1c;
		--md-color-surface-container-high: #192122;
		--md-color-surface-container-highest: #1e2729;
		--md-color-outline: #6d7779;
		--md-color-outline-variant: #404a4c;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #34666e;
		--md-color-inverse-surface: #f6fafb;
		--md-color-inverse-on-surface: #515657;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #9dcfd8;
			--md-color-on-primary: #003c44;
			--md-color-primary-container: #4b7c85;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #b1cbd0;
			--md-color-on-secondary: #223a3e;
			--md-color-secondary-container: #60797d;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #d4e7ff;
			--md-color-on-tertiary: #2c4c6a;
			--md-color-tertiary-container: #badaff;
			--md-color-on-tertiary-container: #234361;
			--md-color-error: #ff9f99;
			--md-color-on-error: #60000a;
			--md-color-error-container: #c54d4a;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0a0f10;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0a0f10;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0a0f10;
			--md-color-surface-bright: #242e30;
			--md-color-surface-variant: #1e2729;
			--md-color-on-surface-variant: #b0bbbd;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0e1416;
			--md-color-surface-container: #131b1c;
			--md-color-surface-container-high: #192122;
			--md-color-surface-container-highest: #1e2729;
			--md-color-outline: #8b9597;
			--md-color-outline-variant: #6d7779;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #295c64;
			--md-color-inverse-surface: #f6fafb;
			--md-color-inverse-on-surface: #34393a;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #bbeef8;
			--md-color-on-primary: #003138;
			--md-color-primary-container: #7aacb5;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #d0eaef;
			--md-color-on-secondary: #173034;
			--md-color-secondary-container: #8fa8ad;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #d4e7ff;
			--md-color-on-tertiary: #072e4b;
			--md-color-tertiary-container: #badaff;
			--md-color-on-tertiary-container: #00233d;
			--md-color-error: #ffdedb;
			--md-color-on-error: #60000a;
			--md-color-error-container: #ff7c76;
			--md-color-on-error-container: #000000;
			--md-color-background: #0a0f10;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0a0f10;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0a0f10;
			--md-color-surface-bright: #242e30;
			--md-color-surface-variant: #1e2729;
			--md-color-on-surface-variant: #dde7e9;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0e1416;
			--md-color-surface-container: #131b1c;
			--md-color-surface-container-high: #192122;
			--md-color-surface-container-highest: #1e2729;
			--md-color-outline: #b0bbbd;
			--md-color-outline-variant: #9ba6a8;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #003f46;
			--md-color-inverse-surface: #f6fafb;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
