/* Seed: #2E6C45 (green) */

[data-theme-color="green"] {
	--md-color-primary: #376948;
	--md-color-on-primary: #e8ffea;
	--md-color-primary-container: #b8f0c5;
	--md-color-on-primary-container: #295b3b;
	--md-color-secondary: #506454;
	--md-color-on-secondary: #e8ffea;
	--md-color-secondary-container: #d2e8d4;
	--md-color-on-secondary-container: #435647;
	--md-color-tertiary: #576434;
	--md-color-on-tertiary: #f2ffc7;
	--md-color-tertiary-container: #e8f8b9;
	--md-color-on-tertiary-container: #525f2f;
	--md-color-error: #a83836;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fa746f;
	--md-color-on-error-container: #6e0a12;
	--md-color-background: #f7faf4;
	--md-color-on-background: #2c342d;
	--md-color-surface: #f7faf4;
	--md-color-on-surface: #2c342d;
	--md-color-surface-dim: #d3dcd2;
	--md-color-surface-bright: #f7faf4;
	--md-color-surface-variant: #dce5da;
	--md-color-on-surface-variant: #596159;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #f0f5ed;
	--md-color-surface-container: #e9f0e7;
	--md-color-surface-container-high: #e3eae1;
	--md-color-surface-container-highest: #dce5da;
	--md-color-outline: #747d74;
	--md-color-outline-variant: #abb4ab;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #b8f0c5;
	--md-color-inverse-surface: #0b0f0c;
	--md-color-inverse-on-surface: #9a9e98;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #194c2d;
		--md-color-on-primary: #b0e7bc;
		--md-color-primary-container: #4d7f5c;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #344739;
		--md-color-on-secondary: #c9dfcb;
		--md-color-secondary-container: #657a69;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #3b471a;
		--md-color-on-tertiary: #d1e0a4;
		--md-color-tertiary-container: #6d7a47;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #811b1d;
		--md-color-on-error: #ffceca;
		--md-color-error-container: #c54d4a;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f7faf4;
		--md-color-on-background: #1e261f;
		--md-color-surface: #f7faf4;
		--md-color-on-surface: #1e261f;
		--md-color-surface-dim: #d3dcd2;
		--md-color-surface-bright: #f7faf4;
		--md-color-surface-variant: #dce5da;
		--md-color-on-surface-variant: #3c453d;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f0f5ed;
		--md-color-surface-container: #e9f0e7;
		--md-color-surface-container-high: #e3eae1;
		--md-color-surface-container-highest: #dce5da;
		--md-color-outline: #596159;
		--md-color-outline-variant: #747d74;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #b8f0c5;
		--md-color-inverse-surface: #0b0f0c;
		--md-color-inverse-on-surface: #c2c6c0;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #002b14;
		--md-color-on-primary: #b0e7bd;
		--md-color-primary-container: #2a5c3c;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #15281b;
		--md-color-on-secondary: #c9e0cc;
		--md-color-secondary-container: #435747;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #1d2800;
		--md-color-on-tertiary: #d2e1a4;
		--md-color-tertiary-container: #4b5728;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #510007;
		--md-color-on-error: #ffcfcb;
		--md-color-error-container: #972b2b;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f7faf4;
		--md-color-on-background: #000000;
		--md-color-surface: #f7faf4;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #d3dcd2;
		--md-color-surface-bright: #f7faf4;
		--md-color-surface-variant: #dce5da;
		--md-color-on-surface-variant: #1e261f;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f0f5ed;
		--md-color-surface-container: #e9f0e7;
		--md-color-surface-container-high: #e3eae1;
		--md-color-surface-container-highest: #dce5da;
		--md-color-outline: #3c453d;
		--md-color-outline-variant: #4c544c;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #b8f0c5;
		--md-color-inverse-surface: #0b0f0c;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #a7d0b0;
		--md-color-on-primary: #23482f;
		--md-color-primary-container: #355a40;
		--md-color-on-primary-container: #c3eecb;
		--md-color-secondary: #b6ccb8;
		--md-color-on-secondary: #314536;
		--md-color-secondary-container: #2d4031;
		--md-color-on-secondary-container: #afc5b1;
		--md-color-tertiary: #f3ffcb;
		--md-color-on-tertiary: #576433;
		--md-color-tertiary-container: #e3f2b4;
		--md-color-on-tertiary-container: #4f5c2c;
		--md-color-error: #fa746f;
		--md-color-on-error: #490006;
		--md-color-error-container: #871f21;
		--md-color-on-error-container: #ff9993;
		--md-color-background: #0b0f0c;
		--md-color-on-background: #dfe8dd;
		--md-color-surface: #0b0f0c;
		--md-color-on-surface: #dfe8dd;
		--md-color-surface-dim: #0b0f0c;
		--md-color-surface-bright: #262e27;
		--md-color-surface-variant: #202821;
		--md-color-on-surface-variant: #a4ada4;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #0f1510;
		--md-color-surface-container: #151b16;
		--md-color-surface-container-high: #1a211c;
		--md-color-surface-container-highest: #202821;
		--md-color-outline: #6f786f;
		--md-color-outline-variant: #414a42;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #42674c;
		--md-color-inverse-surface: #f7faf4;
		--md-color-inverse-on-surface: #525651;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #a7d0b0;
			--md-color-on-primary: #183d26;
			--md-color-primary-container: #577d61;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #b6ccb8;
			--md-color-on-secondary: #283a2c;
			--md-color-secondary-container: #657a69;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #f3ffcb;
			--md-color-on-tertiary: #4d5a2a;
			--md-color-tertiary-container: #e3f2b4;
			--md-color-on-tertiary-container: #455223;
			--md-color-error: #ff9f99;
			--md-color-on-error: #60000a;
			--md-color-error-container: #c54d4a;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0b0f0c;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0b0f0c;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0b0f0c;
			--md-color-surface-bright: #262e27;
			--md-color-surface-variant: #202821;
			--md-color-on-surface-variant: #b2bbb1;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0f1510;
			--md-color-surface-container: #151b16;
			--md-color-surface-container-high: #1a211c;
			--md-color-surface-container-highest: #202821;
			--md-color-outline: #8d968c;
			--md-color-outline-variant: #6f786f;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #385d43;
			--md-color-inverse-surface: #f7faf4;
			--md-color-inverse-on-surface: #353935;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #c5f0ce;
			--md-color-on-primary: #0d331c;
			--md-color-primary-container: #85ad8e;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #d5ebd7;
			--md-color-on-secondary: #1e3023;
			--md-color-secondary-container: #94a997;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #f3ffcb;
			--md-color-on-tertiary: #313c10;
			--md-color-tertiary-container: #e3f2b4;
			--md-color-on-tertiary-container: #293408;
			--md-color-error: #ffdedb;
			--md-color-on-error: #60000a;
			--md-color-error-container: #ff7c76;
			--md-color-on-error-container: #000000;
			--md-color-background: #0b0f0c;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0b0f0c;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0b0f0c;
			--md-color-surface-bright: #262e27;
			--md-color-surface-variant: #202821;
			--md-color-on-surface-variant: #dfe8dd;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0f1510;
			--md-color-surface-container: #151b16;
			--md-color-surface-container-high: #1a211c;
			--md-color-surface-container-highest: #202821;
			--md-color-outline: #b2bbb1;
			--md-color-outline-variant: #9da69c;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #1a3f28;
			--md-color-inverse-surface: #f7faf4;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
