/* Seed: #000000 (neutral) */

[data-theme-color="neutral"] {
	--md-color-primary: #000000;
	--md-color-on-primary: #e2e2e2;
	--md-color-primary-container: #3b3b3b;
	--md-color-on-primary-container: #ffffff;
	--md-color-secondary: #5e5e5e;
	--md-color-on-secondary: #ffffff;
	--md-color-secondary-container: #d4d4d4;
	--md-color-on-secondary-container: #1b1b1b;
	--md-color-tertiary: #3b3b3b;
	--md-color-on-tertiary: #e2e2e2;
	--md-color-tertiary-container: #747474;
	--md-color-on-tertiary-container: #ffffff;
	--md-color-error: #ba1a1a;
	--md-color-on-error: #ffffff;
	--md-color-error-container: #ffdad6;
	--md-color-on-error-container: #410002;
	--md-color-background: #f9f9f9;
	--md-color-on-background: #1b1b1b;
	--md-color-surface: #f9f9f9;
	--md-color-on-surface: #1b1b1b;
	--md-color-surface-dim: #dadada;
	--md-color-surface-bright: #f9f9f9;
	--md-color-surface-variant: #e2e2e2;
	--md-color-on-surface-variant: #474747;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #f3f3f3;
	--md-color-surface-container: #eeeeee;
	--md-color-surface-container-high: #e8e8e8;
	--md-color-surface-container-highest: #e2e2e2;
	--md-color-outline: #777777;
	--md-color-outline-variant: #c6c6c6;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #c6c6c6;
	--md-color-inverse-surface: #303030;
	--md-color-inverse-on-surface: #f1f1f1;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #000000;
		--md-color-on-primary: #e2e2e2;
		--md-color-primary-container: #3b3b3b;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #363636;
		--md-color-on-secondary: #ffffff;
		--md-color-secondary-container: #6d6d6d;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #363636;
		--md-color-on-tertiary: #f5f5f5;
		--md-color-tertiary-container: #6d6d6d;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #740006;
		--md-color-on-error: #ffffff;
		--md-color-error-container: #cf2c27;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f9f9f9;
		--md-color-on-background: #1b1b1b;
		--md-color-surface: #f9f9f9;
		--md-color-on-surface: #111111;
		--md-color-surface-dim: #c6c6c6;
		--md-color-surface-bright: #f9f9f9;
		--md-color-surface-variant: #e2e2e2;
		--md-color-on-surface-variant: #363636;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f3f3f3;
		--md-color-surface-container: #e8e8e8;
		--md-color-surface-container-high: #dddddd;
		--md-color-surface-container-highest: #d1d1d1;
		--md-color-outline: #525252;
		--md-color-outline-variant: #6d6d6d;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #c6c6c6;
		--md-color-inverse-surface: #303030;
		--md-color-inverse-on-surface: #f1f1f1;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #000000;
		--md-color-on-primary: #ffffff;
		--md-color-primary-container: #3b3b3b;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #2c2c2c;
		--md-color-on-secondary: #ffffff;
		--md-color-secondary-container: #494949;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #2c2c2c;
		--md-color-on-tertiary: #ffffff;
		--md-color-tertiary-container: #494949;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #600004;
		--md-color-on-error: #ffffff;
		--md-color-error-container: #98000a;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f9f9f9;
		--md-color-on-background: #1b1b1b;
		--md-color-surface: #f9f9f9;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #b9b9b9;
		--md-color-surface-bright: #f9f9f9;
		--md-color-surface-variant: #e2e2e2;
		--md-color-on-surface-variant: #000000;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f1f1f1;
		--md-color-surface-container: #e2e2e2;
		--md-color-surface-container-high: #d4d4d4;
		--md-color-surface-container-highest: #c6c6c6;
		--md-color-outline: #2c2c2c;
		--md-color-outline-variant: #494949;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #c6c6c6;
		--md-color-inverse-surface: #303030;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #ffffff;
		--md-color-on-primary: #1b1b1b;
		--md-color-primary-container: #d4d4d4;
		--md-color-on-primary-container: #000000;
		--md-color-secondary: #c6c6c6;
		--md-color-on-secondary: #1b1b1b;
		--md-color-secondary-container: #474747;
		--md-color-on-secondary-container: #e2e2e2;
		--md-color-tertiary: #e2e2e2;
		--md-color-on-tertiary: #1b1b1b;
		--md-color-tertiary-container: #919191;
		--md-color-on-tertiary-container: #000000;
		--md-color-error: #ffb4ab;
		--md-color-on-error: #690005;
		--md-color-error-container: #93000a;
		--md-color-on-error-container: #ffdad6;
		--md-color-background: #131313;
		--md-color-on-background: #e2e2e2;
		--md-color-surface: #131313;
		--md-color-on-surface: #e2e2e2;
		--md-color-surface-dim: #131313;
		--md-color-surface-bright: #393939;
		--md-color-surface-variant: #474747;
		--md-color-on-surface-variant: #c6c6c6;
		--md-color-surface-container-lowest: #0e0e0e;
		--md-color-surface-container-low: #1b1b1b;
		--md-color-surface-container: #1f1f1f;
		--md-color-surface-container-high: #2a2a2a;
		--md-color-surface-container-highest: #353535;
		--md-color-outline: #919191;
		--md-color-outline-variant: #474747;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #5e5e5e;
		--md-color-inverse-surface: #e2e2e2;
		--md-color-inverse-on-surface: #303030;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #ffffff;
			--md-color-on-primary: #1b1b1b;
			--md-color-primary-container: #d4d4d4;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #dcdcdc;
			--md-color-on-secondary: #1b1b1b;
			--md-color-secondary-container: #919191;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #e2e2e2;
			--md-color-on-tertiary: #1b1b1b;
			--md-color-tertiary-container: #919191;
			--md-color-on-tertiary-container: #000000;
			--md-color-error: #ffd2cc;
			--md-color-on-error: #540003;
			--md-color-error-container: #ff5449;
			--md-color-on-error-container: #000000;
			--md-color-background: #131313;
			--md-color-on-background: #e2e2e2;
			--md-color-surface: #131313;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #131313;
			--md-color-surface-bright: #444444;
			--md-color-surface-variant: #474747;
			--md-color-on-surface-variant: #dcdcdc;
			--md-color-surface-container-lowest: #070707;
			--md-color-surface-container-low: #1d1d1d;
			--md-color-surface-container: #282828;
			--md-color-surface-container-high: #323232;
			--md-color-surface-container-highest: #3e3e3e;
			--md-color-outline: #b2b2b2;
			--md-color-outline-variant: #909090;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #484848;
			--md-color-inverse-surface: #e2e2e2;
			--md-color-inverse-on-surface: #2a2a2a;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ffffff;
			--md-color-on-primary: #000000;
			--md-color-primary-container: #d4d4d4;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #f0f0f0;
			--md-color-on-secondary: #000000;
			--md-color-secondary-container: #c2c2c2;
			--md-color-on-secondary-container: #0b0b0b;
			--md-color-tertiary: #f0f0f0;
			--md-color-on-tertiary: #000000;
			--md-color-tertiary-container: #c2c2c2;
			--md-color-on-tertiary-container: #000000;
			--md-color-error: #ffece9;
			--md-color-on-error: #000000;
			--md-color-error-container: #ffaea4;
			--md-color-on-error-container: #220001;
			--md-color-background: #131313;
			--md-color-on-background: #e2e2e2;
			--md-color-surface: #131313;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #131313;
			--md-color-surface-bright: #505050;
			--md-color-surface-variant: #474747;
			--md-color-on-surface-variant: #ffffff;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #1f1f1f;
			--md-color-surface-container: #303030;
			--md-color-surface-container-high: #3b3b3b;
			--md-color-surface-container-highest: #474747;
			--md-color-outline: #f0f0f0;
			--md-color-outline-variant: #c2c2c2;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #484848;
			--md-color-inverse-surface: #e2e2e2;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
