/* Seed: #8B5000 (orange) */

[data-theme-color="orange"] {
	--md-color-primary: #835523;
	--md-color-on-primary: #fff7f4;
	--md-color-primary-container: #fbbd81;
	--md-color-on-primary-container: #613807;
	--md-color-secondary: #735a43;
	--md-color-on-secondary: #fff7f4;
	--md-color-secondary-container: #ffdcbe;
	--md-color-on-secondary-container: #654d37;
	--md-color-tertiary: #61622c;
	--md-color-on-tertiary: #fefdb8;
	--md-color-tertiary-container: #f5f5b0;
	--md-color-on-tertiary-container: #5c5d28;
	--md-color-error: #a73b21;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fd795a;
	--md-color-on-error-container: #6e1400;
	--md-color-background: #fff8f5;
	--md-color-on-background: #3c3026;
	--md-color-surface: #fff8f5;
	--md-color-on-surface: #3c3026;
	--md-color-surface-dim: #ead7c7;
	--md-color-surface-bright: #fff8f5;
	--md-color-surface-variant: #f3dfd0;
	--md-color-on-surface-variant: #6b5c50;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #fff1e7;
	--md-color-surface-container: #fcebde;
	--md-color-surface-container-high: #f7e5d7;
	--md-color-surface-container-highest: #f3dfd0;
	--md-color-outline: #87786b;
	--md-color-outline-variant: #c1afa0;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #fbbd81;
	--md-color-inverse-surface: #130d08;
	--md-color-inverse-on-surface: #a69b93;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #623908;
		--md-color-on-primary: #ffd1a8;
		--md-color-primary-container: #9c6a36;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #553e29;
		--md-color-on-secondary: #f6d4b6;
		--md-color-secondary-container: #8a6f57;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #454512;
		--md-color-on-tertiary: #dedd9b;
		--md-color-tertiary-container: #77773f;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #801f07;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #c44f34;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f5;
		--md-color-on-background: #2c2218;
		--md-color-surface: #fff8f5;
		--md-color-on-surface: #2c2218;
		--md-color-surface-dim: #ead7c7;
		--md-color-surface-bright: #fff8f5;
		--md-color-surface-variant: #f3dfd0;
		--md-color-on-surface-variant: #4d4035;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff1e7;
		--md-color-surface-container: #fcebde;
		--md-color-surface-container-high: #f7e5d7;
		--md-color-surface-container-highest: #f3dfd0;
		--md-color-outline: #6b5c50;
		--md-color-outline-variant: #87786b;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #fbbd81;
		--md-color-inverse-surface: #130d08;
		--md-color-inverse-on-surface: #cfc3ba;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #381d00;
		--md-color-on-primary: #ffd2a9;
		--md-color-primary-container: #744817;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #33200d;
		--md-color-on-secondary: #f6d4b6;
		--md-color-secondary-container: #654d37;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #252500;
		--md-color-on-tertiary: #dede9b;
		--md-color-tertiary-container: #545520;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #4c0a00;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #952e15;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f5;
		--md-color-on-background: #000000;
		--md-color-surface: #fff8f5;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #ead7c7;
		--md-color-surface-bright: #fff8f5;
		--md-color-surface-variant: #f3dfd0;
		--md-color-on-surface-variant: #2c2218;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff1e7;
		--md-color-surface-container: #fcebde;
		--md-color-surface-container-high: #f7e5d7;
		--md-color-surface-container-highest: #f3dfd0;
		--md-color-outline: #4d4035;
		--md-color-outline-variant: #5d5044;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #fbbd81;
		--md-color-inverse-surface: #130d08;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #f0bd8d;
		--md-color-on-primary: #5a3914;
		--md-color-primary-container: #6f4b24;
		--md-color-on-primary-container: #ffddc0;
		--md-color-secondary: #e1c1a4;
		--md-color-on-secondary: #523c27;
		--md-color-secondary-container: #4d3722;
		--md-color-on-secondary-container: #dab99d;
		--md-color-tertiary: #fefdb8;
		--md-color-on-tertiary: #61622c;
		--md-color-tertiary-container: #efefab;
		--md-color-on-tertiary-container: #595925;
		--md-color-error: #f97758;
		--md-color-on-error: #450900;
		--md-color-error-container: #85230a;
		--md-color-on-error-container: #ff9b82;
		--md-color-background: #130d08;
		--md-color-on-background: #f6e2d2;
		--md-color-surface: #130d08;
		--md-color-on-surface: #f6e2d2;
		--md-color-surface-dim: #130d08;
		--md-color-surface-bright: #352a20;
		--md-color-surface-variant: #2e241a;
		--md-color-on-surface-variant: #baa89a;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #19120c;
		--md-color-surface-container: #201811;
		--md-color-surface-container-high: #271e16;
		--md-color-surface-container-highest: #2e241a;
		--md-color-outline: #827366;
		--md-color-outline-variant: #52463a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #7e5730;
		--md-color-inverse-surface: #fff8f5;
		--md-color-inverse-on-surface: #5c534d;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #f0bd8d;
			--md-color-on-primary: #4f2f0b;
			--md-color-primary-container: #966c43;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #e1c1a4;
			--md-color-on-secondary: #47321d;
			--md-color-secondary-container: #8a6f57;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #fefdb8;
			--md-color-on-tertiary: #575823;
			--md-color-tertiary-container: #efefab;
			--md-color-on-tertiary-container: #4f4f1c;
			--md-color-error: #ffa089;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #c44f34;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #130d08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #130d08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #130d08;
			--md-color-surface-bright: #352a20;
			--md-color-surface-variant: #2e241a;
			--md-color-on-surface-variant: #c8b5a7;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #19120c;
			--md-color-surface-container: #201811;
			--md-color-surface-container-high: #271e16;
			--md-color-surface-container-highest: #2e241a;
			--md-color-outline: #a19083;
			--md-color-outline-variant: #827366;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #724d27;
			--md-color-inverse-surface: #fff8f5;
			--md-color-inverse-on-surface: #3e3731;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ffe0c6;
			--md-color-on-primary: #432503;
			--md-color-primary-container: #ca9a6d;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #ffe0c6;
			--md-color-on-secondary: #3c2814;
			--md-color-secondary-container: #bd9e83;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #fefdb8;
			--md-color-on-tertiary: #3a3a08;
			--md-color-tertiary-container: #efefab;
			--md-color-on-tertiary-container: #313201;
			--md-color-error: #ffded7;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #ff7e5e;
			--md-color-on-error-container: #000000;
			--md-color-background: #130d08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #130d08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #130d08;
			--md-color-surface-bright: #352a20;
			--md-color-surface-variant: #2e241a;
			--md-color-on-surface-variant: #f6e2d2;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #19120c;
			--md-color-surface-container: #201811;
			--md-color-surface-container-high: #271e16;
			--md-color-surface-container-highest: #2e241a;
			--md-color-outline: #c8b5a7;
			--md-color-outline-variant: #b2a193;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #51310d;
			--md-color-inverse-surface: #fff8f5;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
