/* Seed: #924271 (pink) */

[data-theme-color="pink"] {
	--md-color-primary: #844e6b;
	--md-color-on-primary: #fff7f8;
	--md-color-primary-container: #ffbbdd;
	--md-color-on-primary-container: #673551;
	--md-color-secondary: #725864;
	--md-color-on-secondary: #fff7f8;
	--md-color-secondary-container: #fcd9e8;
	--md-color-on-secondary-container: #644a57;
	--md-color-tertiary: #6f557d;
	--md-color-on-tertiary: #fff6fd;
	--md-color-tertiary-container: #e7c6f5;
	--md-color-on-tertiary-container: #563e64;
	--md-color-error: #a8364b;
	--md-color-on-error: #fff7f7;
	--md-color-error-container: #f97386;
	--md-color-on-error-container: #6e0523;
	--md-color-background: #fff8f8;
	--md-color-on-background: #3b2f35;
	--md-color-surface: #fff8f8;
	--md-color-on-surface: #3b2f35;
	--md-color-surface-dim: #e8d5dc;
	--md-color-surface-bright: #fff8f8;
	--md-color-surface-variant: #f1dde5;
	--md-color-on-surface-variant: #6a5b61;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #fff0f4;
	--md-color-surface-container: #fbeaef;
	--md-color-surface-container-high: #f5e4ea;
	--md-color-surface-container-highest: #f1dde5;
	--md-color-outline: #86777d;
	--md-color-outline-variant: #bfadb4;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #ffbbdd;
	--md-color-inverse-surface: #120d0f;
	--md-color-inverse-on-surface: #a59a9e;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #64334e;
		--md-color-on-primary: #ffcbe4;
		--md-color-primary-container: #9c6381;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #543c48;
		--md-color-on-secondary: #f3d0df;
		--md-color-secondary-container: #896d7a;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #52395f;
		--md-color-on-tertiary: #efcefd;
		--md-color-tertiary-container: #866b93;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #821830;
		--md-color-on-error: #ffcdd1;
		--md-color-error-container: #c44b5f;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f8;
		--md-color-on-background: #2c2126;
		--md-color-surface: #fff8f8;
		--md-color-on-surface: #2c2126;
		--md-color-surface-dim: #e8d5dc;
		--md-color-surface-bright: #fff8f8;
		--md-color-surface-variant: #f1dde5;
		--md-color-on-surface-variant: #4c3f45;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff0f4;
		--md-color-surface-container: #fbeaef;
		--md-color-surface-container-high: #f5e4ea;
		--md-color-surface-container-highest: #f1dde5;
		--md-color-outline: #6a5b61;
		--md-color-outline-variant: #86777d;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #ffbbdd;
		--md-color-inverse-surface: #120d0f;
		--md-color-inverse-on-surface: #cec2c5;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #3f142e;
		--md-color-on-primary: #ffcce4;
		--md-color-primary-container: #75425e;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #321e28;
		--md-color-on-secondary: #f4d1e0;
		--md-color-secondary-container: #644b57;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #311a3e;
		--md-color-on-tertiary: #efcffd;
		--md-color-tertiary-container: #62496f;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #500016;
		--md-color-on-error: #ffced2;
		--md-color-error-container: #97283e;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f8;
		--md-color-on-background: #000000;
		--md-color-surface: #fff8f8;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #e8d5dc;
		--md-color-surface-bright: #fff8f8;
		--md-color-surface-variant: #f1dde5;
		--md-color-on-surface-variant: #2c2126;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff0f4;
		--md-color-surface-container: #fbeaef;
		--md-color-surface-container-high: #f5e4ea;
		--md-color-surface-container-highest: #f1dde5;
		--md-color-outline: #4c3f45;
		--md-color-outline-variant: #5c4e54;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #ffbbdd;
		--md-color-inverse-surface: #120d0f;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #eeb7d1;
		--md-color-on-primary: #5b3449;
		--md-color-primary-container: #6f465c;
		--md-color-on-primary-container: #ffd9ea;
		--md-color-secondary: #dfbdcc;
		--md-color-on-secondary: #513945;
		--md-color-secondary-container: #4c3540;
		--md-color-on-secondary-container: #d8b6c5;
		--md-color-tertiary: #f3d6ff;
		--md-color-on-tertiary: #60466d;
		--md-color-tertiary-container: #e7c6f5;
		--md-color-on-tertiary-container: #563e64;
		--md-color-error: #f97386;
		--md-color-on-error: #490013;
		--md-color-error-container: #871c34;
		--md-color-on-error-container: #ff97a3;
		--md-color-background: #120d0f;
		--md-color-on-background: #f4e0e7;
		--md-color-surface: #120d0f;
		--md-color-on-surface: #f4e0e7;
		--md-color-surface-dim: #120d0f;
		--md-color-surface-bright: #34292e;
		--md-color-surface-variant: #2e2328;
		--md-color-on-surface-variant: #b8a6ad;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #191115;
		--md-color-surface-container: #20171b;
		--md-color-surface-container-high: #261d21;
		--md-color-surface-container-highest: #2e2328;
		--md-color-outline: #817178;
		--md-color-outline-variant: #52444a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #7d5268;
		--md-color-inverse-surface: #fff8f8;
		--md-color-inverse-on-surface: #5b5356;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #eeb7d1;
			--md-color-on-primary: #502a3f;
			--md-color-primary-container: #95677e;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #dfbdcc;
			--md-color-on-secondary: #462f3b;
			--md-color-secondary-container: #896d7a;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #f3d6ff;
			--md-color-on-tertiary: #553d63;
			--md-color-tertiary-container: #e7c6f5;
			--md-color-on-tertiary-container: #4c3459;
			--md-color-error: #ff9da8;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #c44b5f;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #120d0f;
			--md-color-on-background: #ffffff;
			--md-color-surface: #120d0f;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #120d0f;
			--md-color-surface-bright: #34292e;
			--md-color-surface-variant: #2e2328;
			--md-color-on-surface-variant: #c6b4bb;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #191115;
			--md-color-surface-container: #20171b;
			--md-color-surface-container-high: #261d21;
			--md-color-surface-container-highest: #2e2328;
			--md-color-outline: #a08f96;
			--md-color-outline-variant: #817178;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #72485e;
			--md-color-inverse-surface: #fff8f8;
			--md-color-inverse-on-surface: #3e3639;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ffdceb;
			--md-color-on-primary: #442034;
			--md-color-primary-container: #c895ae;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #ffdceb;
			--md-color-on-secondary: #3b2531;
			--md-color-secondary-container: #bb9ba9;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #f6ddff;
			--md-color-on-tertiary: #392347;
			--md-color-tertiary-container: #e7c6f5;
			--md-color-on-tertiary-container: #291337;
			--md-color-error: #ffdddf;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #ff798c;
			--md-color-on-error-container: #000000;
			--md-color-background: #120d0f;
			--md-color-on-background: #ffffff;
			--md-color-surface: #120d0f;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #120d0f;
			--md-color-surface-bright: #34292e;
			--md-color-surface-variant: #2e2328;
			--md-color-on-surface-variant: #f4e0e7;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #191115;
			--md-color-surface-container: #20171b;
			--md-color-surface-container-high: #261d21;
			--md-color-surface-container-highest: #2e2328;
			--md-color-outline: #c6b4bb;
			--md-color-outline-variant: #b09fa6;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #522c41;
			--md-color-inverse-surface: #fff8f8;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
