/* Seed: #6750A4 (purple) */

[data-theme-color="purple"] {
	--md-color-primary: #655789;
	--md-color-on-primary: #fdf7ff;
	--md-color-primary-container: #d4c3fd;
	--md-color-on-primary-container: #493c6c;
	--md-color-secondary: #625c71;
	--md-color-on-secondary: #fdf7ff;
	--md-color-secondary-container: #e8def8;
	--md-color-on-secondary-container: #554f63;
	--md-color-tertiary: #7b5270;
	--md-color-on-tertiary: #fff7f9;
	--md-color-tertiary-container: #f4bfe3;
	--md-color-on-tertiary-container: #5f3956;
	--md-color-error: #a8364b;
	--md-color-on-error: #fff7f7;
	--md-color-error-container: #f97386;
	--md-color-on-error-container: #6e0523;
	--md-color-background: #fdf7fe;
	--md-color-on-background: #34313a;
	--md-color-surface: #fdf7fe;
	--md-color-on-surface: #34313a;
	--md-color-surface-dim: #ded8e4;
	--md-color-surface-bright: #fdf7fe;
	--md-color-surface-variant: #e7e0ec;
	--md-color-on-surface-variant: #615d68;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #f8f1fa;
	--md-color-surface-container: #f2ecf5;
	--md-color-surface-container-high: #ece6f0;
	--md-color-surface-container-highest: #e7e0ec;
	--md-color-outline: #7d7983;
	--md-color-outline-variant: #b5b0bb;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #d4c3fd;
	--md-color-inverse-surface: #0f0d12;
	--md-color-inverse-on-surface: #a09ba1;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #483b6b;
		--md-color-on-primary: #e1d3ff;
		--md-color-primary-container: #7b6da0;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #464054;
		--md-color-on-secondary: #dfd5ef;
		--md-color-secondary-container: #787187;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #5c3653;
		--md-color-on-tertiary: #ffcaee;
		--md-color-tertiary-container: #936787;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #821830;
		--md-color-on-error: #ffcdd1;
		--md-color-error-container: #c44b5f;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fdf7fe;
		--md-color-on-background: #25232b;
		--md-color-surface: #fdf7fe;
		--md-color-on-surface: #25232b;
		--md-color-surface-dim: #ded8e4;
		--md-color-surface-bright: #fdf7fe;
		--md-color-surface-variant: #e7e0ec;
		--md-color-on-surface-variant: #45414b;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f8f1fa;
		--md-color-surface-container: #f2ecf5;
		--md-color-surface-container-high: #ece6f0;
		--md-color-surface-container-highest: #e7e0ec;
		--md-color-outline: #615d68;
		--md-color-outline-variant: #7d7983;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #d4c3fd;
		--md-color-inverse-surface: #0f0d12;
		--md-color-inverse-on-surface: #c8c3c9;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #281b49;
		--md-color-on-primary: #e1d3ff;
		--md-color-primary-container: #584a7b;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #262134;
		--md-color-on-secondary: #dfd6ef;
		--md-color-secondary-container: #554f64;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #391733;
		--md-color-on-tertiary: #ffcbee;
		--md-color-tertiary-container: #6d4563;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #500016;
		--md-color-on-error: #ffced2;
		--md-color-error-container: #97283e;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fdf7fe;
		--md-color-on-background: #000000;
		--md-color-surface: #fdf7fe;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #ded8e4;
		--md-color-surface-bright: #fdf7fe;
		--md-color-surface-variant: #e7e0ec;
		--md-color-on-surface-variant: #25232b;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f8f1fa;
		--md-color-surface-container: #f2ecf5;
		--md-color-surface-container-high: #ece6f0;
		--md-color-surface-container-highest: #e7e0ec;
		--md-color-outline: #45414b;
		--md-color-outline-variant: #54505a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #d4c3fd;
		--md-color-inverse-surface: #0f0d12;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #cdc0ec;
		--md-color-on-primary: #443a5f;
		--md-color-primary-container: #574d72;
		--md-color-on-primary-container: #e9deff;
		--md-color-secondary: #cbc2db;
		--md-color-on-secondary: #433d51;
		--md-color-secondary-container: #3e384c;
		--md-color-on-secondary-container: #c4bbd4;
		--md-color-tertiary: #ffcfef;
		--md-color-on-tertiary: #69415f;
		--md-color-tertiary-container: #f4bfe3;
		--md-color-on-tertiary-container: #5f3956;
		--md-color-error: #f97386;
		--md-color-on-error: #490013;
		--md-color-error-container: #871c34;
		--md-color-on-error-container: #ff97a3;
		--md-color-background: #0f0d12;
		--md-color-on-background: #eae3ef;
		--md-color-surface: #0f0d12;
		--md-color-on-surface: #eae3ef;
		--md-color-surface-dim: #0f0d12;
		--md-color-surface-bright: #2e2b34;
		--md-color-surface-variant: #27242d;
		--md-color-on-surface-variant: #aea9b4;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #141218;
		--md-color-surface-container: #1b181f;
		--md-color-surface-container-high: #211e26;
		--md-color-surface-container-highest: #27242d;
		--md-color-outline: #78737e;
		--md-color-outline-variant: #4a4650;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #645980;
		--md-color-inverse-surface: #fdf7fe;
		--md-color-inverse-on-surface: #575459;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #cdc0ec;
			--md-color-on-primary: #3a3054;
			--md-color-primary-container: #7a6f96;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #cbc2db;
			--md-color-on-secondary: #393347;
			--md-color-secondary-container: #787187;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #ffcfef;
			--md-color-on-tertiary: #5e3855;
			--md-color-tertiary-container: #f4bfe3;
			--md-color-on-tertiary-container: #542f4c;
			--md-color-error: #ff9da8;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #c44b5f;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0f0d12;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0f0d12;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0f0d12;
			--md-color-surface-bright: #2e2b34;
			--md-color-surface-variant: #27242d;
			--md-color-on-surface-variant: #bcb6c2;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #141218;
			--md-color-surface-container: #1b181f;
			--md-color-surface-container-high: #211e26;
			--md-color-surface-container-highest: #27242d;
			--md-color-outline: #96919c;
			--md-color-outline-variant: #78737e;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #5a4f75;
			--md-color-inverse-surface: #fdf7fe;
			--md-color-inverse-on-surface: #39373c;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ebe1ff;
			--md-color-on-primary: #302649;
			--md-color-primary-container: #aa9dc8;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #ebe1fb;
			--md-color-on-secondary: #2e293c;
			--md-color-secondary-container: #a8a0b8;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #ffdbf2;
			--md-color-on-tertiary: #43203b;
			--md-color-tertiary-container: #f4bfe3;
			--md-color-on-tertiary-container: #2e0e29;
			--md-color-error: #ffdddf;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #ff798c;
			--md-color-on-error-container: #000000;
			--md-color-background: #0f0d12;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0f0d12;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0f0d12;
			--md-color-surface-bright: #2e2b34;
			--md-color-surface-variant: #27242d;
			--md-color-on-surface-variant: #eae3ef;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #141218;
			--md-color-surface-container: #1b181f;
			--md-color-surface-container-high: #211e26;
			--md-color-surface-container-highest: #27242d;
			--md-color-outline: #bcb6c2;
			--md-color-outline-variant: #a7a1ad;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #3c3256;
			--md-color-inverse-surface: #fdf7fe;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
