/* Seed: #904A42 (red) */

[data-theme-color="red"] {
	--md-color-primary: #8c4e46;
	--md-color-on-primary: #fff7f6;
	--md-color-primary-container: #faaaa0;
	--md-color-on-primary-container: #602a24;
	--md-color-secondary: #785753;
	--md-color-on-secondary: #fff7f6;
	--md-color-secondary-container: #ffdad5;
	--md-color-on-secondary-container: #694a46;
	--md-color-tertiary: #7b5927;
	--md-color-on-tertiary: #fff7f3;
	--md-color-tertiary-container: #fbcc90;
	--md-color-on-tertiary-container: #624313;
	--md-color-error: #a8364b;
	--md-color-on-error: #fff7f7;
	--md-color-error-container: #f97386;
	--md-color-on-error-container: #6e0523;
	--md-color-background: #fff8f7;
	--md-color-on-background: #3e2f2d;
	--md-color-surface: #fff8f7;
	--md-color-on-surface: #3e2f2d;
	--md-color-surface-dim: #edd5d1;
	--md-color-surface-bright: #fff8f7;
	--md-color-surface-variant: #f6ddda;
	--md-color-on-surface-variant: #6d5b59;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #fff0ee;
	--md-color-surface-container: #fee9e6;
	--md-color-surface-container-high: #fae3e0;
	--md-color-surface-container-highest: #f6ddda;
	--md-color-outline: #8a7674;
	--md-color-outline-variant: #c3adaa;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #faaaa0;
	--md-color-inverse-surface: #130c0c;
	--md-color-inverse-on-surface: #a79a98;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #6a322c;
		--md-color-on-primary: #ffcec8;
		--md-color-primary-container: #a5625a;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #593b38;
		--md-color-on-secondary: #fbd0ca;
		--md-color-secondary-container: #8f6c68;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #5b3d0d;
		--md-color-on-tertiary: #ffd299;
		--md-color-tertiary-container: #936e3b;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #821830;
		--md-color-on-error: #ffcdd1;
		--md-color-error-container: #c44b5f;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f7;
		--md-color-on-background: #2e211f;
		--md-color-surface: #fff8f7;
		--md-color-on-surface: #2e211f;
		--md-color-surface-dim: #edd5d1;
		--md-color-surface-bright: #fff8f7;
		--md-color-surface-variant: #f6ddda;
		--md-color-on-surface-variant: #4f3f3d;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff0ee;
		--md-color-surface-container: #fee9e6;
		--md-color-surface-container-high: #fae3e0;
		--md-color-surface-container-highest: #f6ddda;
		--md-color-outline: #6d5b59;
		--md-color-outline-variant: #8a7674;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #faaaa0;
		--md-color-inverse-surface: #130c0c;
		--md-color-inverse-on-surface: #d0c1bf;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #431410;
		--md-color-on-primary: #ffcfc9;
		--md-color-primary-container: #7d413a;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #361d1a;
		--md-color-on-secondary: #fcd0ca;
		--md-color-secondary-container: #6a4a46;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #351f00;
		--md-color-on-tertiary: #ffd39b;
		--md-color-tertiary-container: #6c4c1c;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #500016;
		--md-color-on-error: #ffced2;
		--md-color-error-container: #97283e;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fff8f7;
		--md-color-on-background: #000000;
		--md-color-surface: #fff8f7;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #edd5d1;
		--md-color-surface-bright: #fff8f7;
		--md-color-surface-variant: #f6ddda;
		--md-color-on-surface-variant: #2e211f;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #fff0ee;
		--md-color-surface-container: #fee9e6;
		--md-color-surface-container-high: #fae3e0;
		--md-color-surface-container-highest: #f6ddda;
		--md-color-outline: #4f3f3d;
		--md-color-outline-variant: #5f4e4c;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #ffb1a7;
		--md-color-inverse-surface: #130c0c;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #f9b6ae;
		--md-color-on-primary: #61332e;
		--md-color-primary-container: #76453f;
		--md-color-on-primary-container: #ffdbd6;
		--md-color-secondary: #e7bdb7;
		--md-color-on-secondary: #563935;
		--md-color-secondary-container: #513431;
		--md-color-on-secondary-container: #dfb6b0;
		--md-color-tertiary: #ffddb4;
		--md-color-on-tertiary: #6c4b1b;
		--md-color-tertiary-container: #fbcc90;
		--md-color-on-tertiary-container: #624313;
		--md-color-error: #f97386;
		--md-color-on-error: #490013;
		--md-color-error-container: #871c34;
		--md-color-on-error-container: #ff97a3;
		--md-color-background: #130c0c;
		--md-color-on-background: #f9e0dd;
		--md-color-surface: #130c0c;
		--md-color-on-surface: #f9e0dd;
		--md-color-surface-dim: #130c0c;
		--md-color-surface-bright: #372927;
		--md-color-surface-variant: #302221;
		--md-color-on-surface-variant: #bca6a3;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #1a1110;
		--md-color-surface-container: #221716;
		--md-color-surface-container-high: #291d1b;
		--md-color-surface-container-highest: #302221;
		--md-color-outline: #84716e;
		--md-color-outline-variant: #554442;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #85514b;
		--md-color-inverse-surface: #fff8f7;
		--md-color-inverse-on-surface: #5d5351;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #f9b6ae;
			--md-color-on-primary: #552a25;
			--md-color-primary-container: #9e665f;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #e7bdb7;
			--md-color-on-secondary: #4b2f2c;
			--md-color-secondary-container: #8f6c68;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #ffddb4;
			--md-color-on-tertiary: #614212;
			--md-color-tertiary-container: #fbcc90;
			--md-color-on-tertiary-container: #57390a;
			--md-color-error: #ff9da8;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #c44b5f;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #130c0c;
			--md-color-on-background: #ffffff;
			--md-color-surface: #130c0c;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #130c0c;
			--md-color-surface-bright: #372927;
			--md-color-surface-variant: #302221;
			--md-color-on-surface-variant: #cab4b1;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #1a1110;
			--md-color-surface-container: #221716;
			--md-color-surface-container-high: #291d1b;
			--md-color-surface-container-highest: #302221;
			--md-color-outline: #a48f8c;
			--md-color-outline-variant: #84716e;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #794842;
			--md-color-inverse-surface: #fff8f7;
			--md-color-inverse-on-surface: #3f3635;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #ffdeda;
			--md-color-on-primary: #49201b;
			--md-color-primary-container: #d2948c;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #ffdeda;
			--md-color-on-secondary: #3f2522;
			--md-color-secondary-container: #c29a95;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #ffe1bd;
			--md-color-on-tertiary: #3f2700;
			--md-color-tertiary-container: #fbcc90;
			--md-color-on-tertiary-container: #2f1b00;
			--md-color-error: #ffdddf;
			--md-color-on-error: #5f001c;
			--md-color-error-container: #ff798c;
			--md-color-on-error-container: #000000;
			--md-color-background: #130c0c;
			--md-color-on-background: #ffffff;
			--md-color-surface: #130c0c;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #130c0c;
			--md-color-surface-bright: #372927;
			--md-color-surface-variant: #302221;
			--md-color-on-surface-variant: #f9e0dd;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #1a1110;
			--md-color-surface-container: #221716;
			--md-color-surface-container-high: #291d1b;
			--md-color-surface-container-highest: #302221;
			--md-color-outline: #cab4b1;
			--md-color-outline-variant: #b59f9c;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #572c27;
			--md-color-inverse-surface: #fff8f7;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
