/* Seed: #006A60 (teal) */

[data-theme-color="teal"] {
	--md-color-primary: #1f6a61;
	--md-color-on-primary: #e2fff9;
	--md-color-primary-container: #a9f0e4;
	--md-color-on-primary-container: #075c53;
	--md-color-secondary: #4b645f;
	--md-color-on-secondary: #e3fff9;
	--md-color-secondary-container: #cce8e2;
	--md-color-on-secondary-container: #3d5652;
	--md-color-tertiary: #346578;
	--md-color-on-tertiary: #f2faff;
	--md-color-tertiary-container: #aadcf2;
	--md-color-on-tertiary-container: #1a4f61;
	--md-color-error: #a83836;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fa746f;
	--md-color-on-error-container: #6e0a12;
	--md-color-background: #f6faf8;
	--md-color-on-background: #2a3432;
	--md-color-surface: #f6faf8;
	--md-color-on-surface: #2a3432;
	--md-color-surface-dim: #d1dcd9;
	--md-color-surface-bright: #f6faf8;
	--md-color-surface-variant: #dae5e2;
	--md-color-on-surface-variant: #56615f;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #eef5f2;
	--md-color-surface-container: #e7f0ed;
	--md-color-surface-container-high: #e1eae7;
	--md-color-surface-container-highest: #dae5e2;
	--md-color-outline: #727d7a;
	--md-color-outline-variant: #a9b4b1;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #b1f9ed;
	--md-color-inverse-surface: #0a0f0e;
	--md-color-inverse-on-surface: #999e9c;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #004c44;
		--md-color-on-primary: #a0e7db;
		--md-color-primary-container: #398076;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #2f4743;
		--md-color-on-secondary: #c4dfda;
		--md-color-secondary-container: #607a75;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #10495a;
		--md-color-on-tertiary: #b0e1f7;
		--md-color-tertiary-container: #4a7b8e;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #811b1d;
		--md-color-on-error: #ffceca;
		--md-color-error-container: #c54d4a;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f6faf8;
		--md-color-on-background: #1c2624;
		--md-color-surface: #f6faf8;
		--md-color-on-surface: #1c2624;
		--md-color-surface-dim: #d1dcd9;
		--md-color-surface-bright: #f6faf8;
		--md-color-surface-variant: #dae5e2;
		--md-color-on-surface-variant: #3a4543;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #eef5f2;
		--md-color-surface-container: #e7f0ed;
		--md-color-surface-container-high: #e1eae7;
		--md-color-surface-container-highest: #dae5e2;
		--md-color-outline: #56615f;
		--md-color-outline-variant: #727d7a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #b1f9ed;
		--md-color-inverse-surface: #0a0f0e;
		--md-color-inverse-on-surface: #c1c6c4;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #002925;
		--md-color-on-primary: #a1e7dc;
		--md-color-primary-container: #085d54;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #0f2824;
		--md-color-on-secondary: #c4e0da;
		--md-color-secondary-container: #3e5753;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #002834;
		--md-color-on-tertiary: #b0e1f7;
		--md-color-tertiary-container: #25586a;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #510007;
		--md-color-on-error: #ffcfcb;
		--md-color-error-container: #972b2b;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #f6faf8;
		--md-color-on-background: #000000;
		--md-color-surface: #f6faf8;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #d1dcd9;
		--md-color-surface-bright: #f6faf8;
		--md-color-surface-variant: #dae5e2;
		--md-color-on-surface-variant: #1c2624;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #eef5f2;
		--md-color-surface-container: #e7f0ed;
		--md-color-surface-container-high: #e1eae7;
		--md-color-surface-container-highest: #dae5e2;
		--md-color-outline: #3a4543;
		--md-color-outline-variant: #4a5452;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #b1f9ed;
		--md-color-inverse-surface: #0a0f0e;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #9cd1c7;
		--md-color-on-primary: #104841;
		--md-color-primary-container: #275b54;
		--md-color-on-primary-container: #b8eee4;
		--md-color-secondary: #b1ccc6;
		--md-color-on-secondary: #2c4541;
		--md-color-secondary-container: #27403c;
		--md-color-on-secondary-container: #aac5bf;
		--md-color-tertiary: #baeaff;
		--md-color-on-tertiary: #24586a;
		--md-color-tertiary-container: #aadcf2;
		--md-color-on-tertiary-container: #1a4f61;
		--md-color-error: #fa746f;
		--md-color-on-error: #490006;
		--md-color-error-container: #871f21;
		--md-color-on-error-container: #ff9993;
		--md-color-background: #0a0f0e;
		--md-color-on-background: #dce8e4;
		--md-color-surface: #0a0f0e;
		--md-color-on-surface: #dce8e4;
		--md-color-surface-dim: #0a0f0e;
		--md-color-surface-bright: #242e2c;
		--md-color-surface-variant: #1e2826;
		--md-color-on-surface-variant: #a2adaa;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #0e1513;
		--md-color-surface-container: #131b1a;
		--md-color-surface-container-high: #192120;
		--md-color-surface-container-highest: #1e2826;
		--md-color-outline: #6d7875;
		--md-color-outline-variant: #3f4a48;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #356860;
		--md-color-inverse-surface: #f6faf8;
		--md-color-inverse-on-surface: #515655;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #9cd1c7;
			--md-color-on-primary: #003e37;
			--md-color-primary-container: #4b7e76;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #b1ccc6;
			--md-color-on-secondary: #223b37;
			--md-color-secondary-container: #607a75;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #baeaff;
			--md-color-on-tertiary: #184e60;
			--md-color-tertiary-container: #aadcf2;
			--md-color-on-tertiary-container: #0a4557;
			--md-color-error: #ff9f99;
			--md-color-on-error: #60000a;
			--md-color-error-container: #c54d4a;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0a0f0e;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0a0f0e;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0a0f0e;
			--md-color-surface-bright: #242e2c;
			--md-color-surface-variant: #1e2826;
			--md-color-on-surface-variant: #b0bbb8;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0e1513;
			--md-color-surface-container: #131b1a;
			--md-color-surface-container-high: #192120;
			--md-color-surface-container-highest: #1e2826;
			--md-color-outline: #8b9693;
			--md-color-outline-variant: #6d7875;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #2a5d56;
			--md-color-inverse-surface: #f6faf8;
			--md-color-inverse-on-surface: #343938;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #baf0e6;
			--md-color-on-primary: #00322d;
			--md-color-primary-container: #7aada5;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #cfebe5;
			--md-color-on-secondary: #17302d;
			--md-color-secondary-container: #8ea9a4;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #c2ecff;
			--md-color-on-tertiary: #00303f;
			--md-color-tertiary-container: #aadcf2;
			--md-color-on-tertiary-container: #00232e;
			--md-color-error: #ffdedb;
			--md-color-on-error: #60000a;
			--md-color-error-container: #ff7c76;
			--md-color-on-error-container: #000000;
			--md-color-background: #0a0f0e;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0a0f0e;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0a0f0e;
			--md-color-surface-bright: #242e2c;
			--md-color-surface-variant: #1e2826;
			--md-color-on-surface-variant: #dce8e4;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #0e1513;
			--md-color-surface-container: #131b1a;
			--md-color-surface-container-high: #192120;
			--md-color-surface-container-highest: #1e2826;
			--md-color-outline: #b0bbb8;
			--md-color-outline-variant: #9ba6a3;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #034039;
			--md-color-inverse-surface: #f6faf8;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
