/* Seed: #695F00 (yellow) */

[data-theme-color="yellow"] {
	--md-color-primary: #68601f;
	--md-color-on-primary: #fff9e5;
	--md-color-primary-container: #f0e495;
	--md-color-on-primary-container: #5a5312;
	--md-color-secondary: #646042;
	--md-color-on-secondary: #fff9e5;
	--md-color-secondary-container: #ebe3bd;
	--md-color-on-secondary-container: #575235;
	--md-color-tertiary: #7c5828;
	--md-color-on-tertiary: #fff7f3;
	--md-color-tertiary-container: #fdcc91;
	--md-color-on-tertiary-container: #634314;
	--md-color-error: #a73b21;
	--md-color-on-error: #fff7f6;
	--md-color-error-container: #fd795a;
	--md-color-on-error-container: #6e1400;
	--md-color-background: #fef9ed;
	--md-color-on-background: #353325;
	--md-color-surface: #fef9ed;
	--md-color-on-surface: #353325;
	--md-color-surface-dim: #e0dac7;
	--md-color-surface-bright: #fef9ed;
	--md-color-surface-variant: #e8e2cf;
	--md-color-on-surface-variant: #625f50;
	--md-color-surface-container-lowest: #ffffff;
	--md-color-surface-container-low: #f9f3e5;
	--md-color-surface-container: #f3eedd;
	--md-color-surface-container-high: #eee8d7;
	--md-color-surface-container-highest: #e8e2cf;
	--md-color-outline: #7f7b6a;
	--md-color-outline-variant: #b7b2a0;
	--md-color-shadow: #000000;
	--md-color-scrim: #000000;
	--md-color-inverse-primary: #fcf09f;
	--md-color-inverse-surface: #0f0e08;
	--md-color-inverse-on-surface: #a09d93;

	&:where([data-contrast="medium"]) {
		--md-color-primary: #4b4302;
		--md-color-on-primary: #e7db8d;
		--md-color-primary-container: #7f7632;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #474328;
		--md-color-on-secondary: #e2dab5;
		--md-color-secondary-container: #7a7556;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #5c3c0e;
		--md-color-on-tertiary: #ffd29c;
		--md-color-tertiary-container: #946d3b;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #801f07;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #c44f34;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fef9ed;
		--md-color-on-background: #262418;
		--md-color-surface: #fef9ed;
		--md-color-on-surface: #262418;
		--md-color-surface-dim: #e0dac7;
		--md-color-surface-bright: #fef9ed;
		--md-color-surface-variant: #e8e2cf;
		--md-color-on-surface-variant: #464335;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f9f3e5;
		--md-color-surface-container: #f3eedd;
		--md-color-surface-container-high: #eee8d7;
		--md-color-surface-container-highest: #e8e2cf;
		--md-color-outline: #625f50;
		--md-color-outline-variant: #7f7b6a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #fcf09f;
		--md-color-inverse-surface: #0f0e08;
		--md-color-inverse-on-surface: #c9c4ba;
	}

	&:where([data-contrast="high"]) {
		--md-color-primary: #292400;
		--md-color-on-primary: #e8dc8d;
		--md-color-primary-container: #5b5312;
		--md-color-on-primary-container: #ffffff;
		--md-color-secondary: #28240b;
		--md-color-on-secondary: #e2dbb5;
		--md-color-secondary-container: #575336;
		--md-color-on-secondary-container: #ffffff;
		--md-color-tertiary: #351f00;
		--md-color-on-tertiary: #ffd29e;
		--md-color-tertiary-container: #6d4b1c;
		--md-color-on-tertiary-container: #ffffff;
		--md-color-error: #4c0a00;
		--md-color-on-error: #ffcfc4;
		--md-color-error-container: #952e15;
		--md-color-on-error-container: #ffffff;
		--md-color-background: #fef9ed;
		--md-color-on-background: #000000;
		--md-color-surface: #fef9ed;
		--md-color-on-surface: #000000;
		--md-color-surface-dim: #e0dac7;
		--md-color-surface-bright: #fef9ed;
		--md-color-surface-variant: #e8e2cf;
		--md-color-on-surface-variant: #262418;
		--md-color-surface-container-lowest: #ffffff;
		--md-color-surface-container-low: #f9f3e5;
		--md-color-surface-container: #f3eedd;
		--md-color-surface-container-high: #eee8d7;
		--md-color-surface-container-highest: #e8e2cf;
		--md-color-outline: #464335;
		--md-color-outline-variant: #555244;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #fcf09f;
		--md-color-inverse-surface: #0f0e08;
		--md-color-inverse-on-surface: #ffffff;
	}

	&:where([data-theme="dark"]) {
		--md-color-primary: #d2c88a;
		--md-color-on-primary: #474111;
		--md-color-primary-container: #5a5322;
		--md-color-on-primary-container: #efe5a5;
		--md-color-secondary: #cec7a2;
		--md-color-on-secondary: #454125;
		--md-color-secondary-container: #403c21;
		--md-color-on-secondary-container: #c7c09c;
		--md-color-tertiary: #ffddb6;
		--md-color-on-tertiary: #6d4b1c;
		--md-color-tertiary-container: #fdcc91;
		--md-color-on-tertiary-container: #634314;
		--md-color-error: #f97758;
		--md-color-on-error: #450900;
		--md-color-error-container: #85230a;
		--md-color-on-error-container: #ff9b82;
		--md-color-background: #0f0e08;
		--md-color-on-background: #ebe5d2;
		--md-color-surface: #0f0e08;
		--md-color-on-surface: #ebe5d2;
		--md-color-surface-dim: #0f0e08;
		--md-color-surface-bright: #2f2c1f;
		--md-color-surface-variant: #282619;
		--md-color-on-surface-variant: #b0ab99;
		--md-color-surface-container-lowest: #000000;
		--md-color-surface-container-low: #15130b;
		--md-color-surface-container: #1b1a10;
		--md-color-surface-container-high: #222015;
		--md-color-surface-container-highest: #282619;
		--md-color-outline: #797665;
		--md-color-outline-variant: #4b483a;
		--md-color-shadow: #000000;
		--md-color-scrim: #000000;
		--md-color-inverse-primary: #67602d;
		--md-color-inverse-surface: #fef9ed;
		--md-color-inverse-on-surface: #57554c;

		&:where([data-contrast="medium"]) {
			--md-color-primary: #d2c88a;
			--md-color-on-primary: #3c3707;
			--md-color-primary-container: #7d7640;
			--md-color-on-primary-container: #ffffff;
			--md-color-secondary: #cec7a2;
			--md-color-on-secondary: #3a371c;
			--md-color-secondary-container: #7a7556;
			--md-color-on-secondary-container: #ffffff;
			--md-color-tertiary: #ffddb6;
			--md-color-on-tertiary: #624113;
			--md-color-tertiary-container: #fdcc91;
			--md-color-on-tertiary-container: #58390b;
			--md-color-error: #ffa089;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #c44f34;
			--md-color-on-error-container: #ffffff;
			--md-color-background: #0f0e08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0f0e08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0f0e08;
			--md-color-surface-bright: #2f2c1f;
			--md-color-surface-variant: #282619;
			--md-color-on-surface-variant: #beb9a6;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #15130b;
			--md-color-surface-container: #1b1a10;
			--md-color-surface-container-high: #222015;
			--md-color-surface-container-highest: #282619;
			--md-color-outline: #989382;
			--md-color-outline-variant: #797665;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #5d5624;
			--md-color-inverse-surface: #fef9ed;
			--md-color-inverse-on-surface: #3a3830;
		}

		&:where([data-contrast="high"]) {
			--md-color-primary: #f1e7a7;
			--md-color-on-primary: #322c00;
			--md-color-primary-container: #aea56b;
			--md-color-on-primary-container: #000000;
			--md-color-secondary: #eee6c0;
			--md-color-on-secondary: #302c13;
			--md-color-secondary-container: #aba482;
			--md-color-on-secondary-container: #000000;
			--md-color-tertiary: #ffe0bf;
			--md-color-on-tertiary: #402600;
			--md-color-tertiary-container: #fdcc91;
			--md-color-on-tertiary-container: #2f1b00;
			--md-color-error: #ffded7;
			--md-color-on-error: #5a0e00;
			--md-color-error-container: #ff7e5e;
			--md-color-on-error-container: #000000;
			--md-color-background: #0f0e08;
			--md-color-on-background: #ffffff;
			--md-color-surface: #0f0e08;
			--md-color-on-surface: #ffffff;
			--md-color-surface-dim: #0f0e08;
			--md-color-surface-bright: #2f2c1f;
			--md-color-surface-variant: #282619;
			--md-color-on-surface-variant: #ebe5d2;
			--md-color-surface-container-lowest: #000000;
			--md-color-surface-container-low: #15130b;
			--md-color-surface-container: #1b1a10;
			--md-color-surface-container-high: #222015;
			--md-color-surface-container-highest: #282619;
			--md-color-outline: #beb9a6;
			--md-color-outline-variant: #a8a492;
			--md-color-shadow: #000000;
			--md-color-scrim: #000000;
			--md-color-inverse-primary: #3f3909;
			--md-color-inverse-surface: #fef9ed;
			--md-color-inverse-on-surface: #000000;
		}
	}
}
